# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\JDK8_learn\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
